@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Cormorant:ital,wght@0,300;1,500&family=Dancing+Script&family=Playfair+Display&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Cormorant:ital,wght@0,300;1,500&family=Dancing+Script&family=El+Messiri&family=Playfair+Display&family=Roboto:wght@100&display=swap');
.titleMC, .titleAdd{
    font-family: 'El Messiri', sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 30px;
    letter-spacing: 7px;
    word-spacing: 10px;
    background: linear-gradient(to left,
    rgb(54, 146, 74),
    rgb(14, 144, 219),
    rgb(219, 41, 41));
    -webkit-background-clip: text;
    color: transparent;
}
.movie{
    display: inline-grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    margin-left: 3% ;
    margin-bottom: 2%;
}
.listes{
    width: 300px;
    height: 750px;
}
.title{
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(to left,
                    rgb(80, 11, 80),
                    rgb(204, 55, 80),
                    rgb(106, 106, 224));
    -webkit-background-clip: text;
    color: transparent;
}
.listes img{
    width: 300px;
    height: 370px;
    border-radius: 10px;
}
.description{
    width: auto;
    height: 220px;
    vertical-align: middle;
    font-size: 17px;
}
.url{
    width: auto;
    height: 40px;

}
.url a{
    color: royalblue;
    font-size: 17px;
}
.ReactStars{
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.lien{
    text-decoration: none;
}
.lien .description{
    margin-top: 5%;
    color: black;
}