@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Cormorant:ital,wght@0,300;1,500&family=Dancing+Script&family=Playfair+Display&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Cormorant:ital,wght@0,300;1,500&family=Dancing+Script&family=El+Messiri&family=Playfair+Display&family=Roboto:wght@100&display=swap');
.desc{
    margin-top: 2%;
    width:1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.desc h1{
    font-family: 'El Messiri', sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 30px;
    letter-spacing: 7px;
    word-spacing: 10px;
    background: linear-gradient(to left,
    rgb(191, 230, 50),
    rgb(62, 62, 226),
    rgb(224, 34, 65));
    -webkit-background-clip: text;
    color: transparent;
}
.desc p{
    width:auto;
    font-size: 20px;
    text-align: justify;
    margin-left: 5.5%;
}
.desc iframe{
    margin-left: 5.5%;
    margin-top: 1%;
    width: auto;
    height: 450px;
    align-content: center;
}
.desc button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: block;
    width: 100px;
    border: 1px solid #0d6efd;
    color : white;
    background-color: #0d6efd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}